.entity-content__description .content .alert-box {
  margin: 20px 0;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
}
.entity-content__description .content .alert-box blockquote {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  background: none !important;
}
.entity-content__description .content .alert-box.info {
  background: #7289da1a;
  border: 2px solid #7289da80;
}
.entity-content__description .content .alert-box.warn {
  background: #faa61a1a;
  border: 2px solid #faa61a80;
}
.entity-content__description .content .alert-box.danger {
  background: #f047471a;
  border: 2px solid #f0474780;
}

.entity-content__description .content h1 {
  margin-top: 20px !important;
  font-weight: 700;
  line-height: 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  padding: 0;
  border: 0;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}
.entity-content__description .content h1:after {
  content: "";
  height: 1px;
  flex: 1 1 auto;
  margin-left: 4px;
  opacity: 0.6;
}
.entity-content__description .content .h1-blurple {
  color: #7289da !important;
}
.entity-content__description .content .h1-blurple:after {
  background-color: #7289da;
}
.entity-content__description .content .h1-green {
  color: #43b581 !important;
}
.entity-content__description .content .h1-green:after {
  background-color: #43b581;
}
.entity-content__description .content .h1-yellow {
  color: #faa61a !important;
}
.entity-content__description .content .h1-yellow:after {
  background-color: #faa61a;
}
.entity-content__description .content .h1-red {
  color: #f04747 !important;
}
.entity-content__description .content .h1-red:after {
  background-color: #f04747;
}

.entity-content__description .content code {
  padding: 0.2em;
  margin: 0.2em 0;
  border-radius: 3px;
  font-size: 85%;
  font-family: Consolas, Andale Mono WT, Andale Mono, Lucida Console,
    Lucida Sans Typewriter, DejaVu Sans Mono, Bitstream Vera Sans Mono,
    Liberation Mono, Nimbus Mono L, Monaco, Courier New, Courier, monospace;
  background: #2f3136;
  color: #dcddde !important;
  border: none;
}

.entity-content__description .content span {
  cursor: pointer;
  border-radius: 3px;
  padding: 2px;
  color: #7289da !important;
  background: rgba(114, 137, 218, 0.1) !important;
}
.entity-content__description .content span:hover {
  color: #fff !important;
  background: #7289da !important;
}

.entity-header__image {
  border-radius: 8px;
}

.entity-content__description {
  padding: 25px !important;
  border-radius: 8px !important;
  background: #23272a !important;
  border: none !important;
}
.entity-content__description .content * {
  transition: 0.1s;
  color: white !important;
}
.entity-content__description .content img {
  border-radius: 8px;
}

.entity-content__description::after {
  content: "Styled with DBDS (github.com/Controlfreak707/DBDS)";
}

/*# sourceMappingURL=index.css.map */
