@use 'header';
@use 'inline-code';
@use 'mention';

.entity-header__image {
  border-radius: 8px;
}

.entity-content__description {
  padding: 25px !important;
  border-radius: 8px !important;
  background: #23272a !important;
  border: none !important;

  .content {
    * {
      transition: 0.1s;
      color: white !important;
    }

    img {
      border-radius: 8px;
    }
  }
}
